/* CSS3 Button Switches
   TUTORIAL http://tympanus.net/codrops/2012/09/13/button-switches-with-checkboxes-and-css3-fanciness/ */
html {
  background: #eee;
  text-align: center;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #9f9f9f;
}

.box {
  width: 100%;
}

.switch input {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  /*place on top*/
  z-index: 100;
  /*make invisible*/
  opacity: 0;
  cursor: pointer;
}

.switch {
  width: 6em;
  height: 6em;
  position: relative;
  margin: 1em;
  display: inline-block;
}

/* embossed look */
.switch label {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 5px 5px rgba(255, 255, 255, 0.3), inset 0 -5px 5px rgba(100, 100, 100, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 5px 5px rgba(255, 255, 255, 0.3), inset 0 -5px 5px rgba(100, 100, 100, 0.1);
}

/* bg */
.switch label:before {
  content: "";
  position: absolute;
  top: -8%;
  left: -8%;
  bottom: -8%;
  right: -8%;
  background-color: #ddd;
  z-index: -1;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
  background-image: -webkit-linear-gradient(#ccc, #fff);
  background-image: -o-linear-gradient(#ccc, #fff);
  background-image: linear-gradient(#ccc, #fff);
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(200, 200, 255, 0.1);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(200, 200, 255, 0.1);
}

/* led inactive */
.switch label:after {
  content: "";
  position: absolute;
  width: 25%;
  height: 25%;
  top: 36%;
  left: 37%;
  border-radius: 100%;
  background: #eee;
  background: -webkit-radial-gradient(60% 60%, #eeeeee, #cccccc, #969696 70%);
  background: -o-radial-gradient(60% 60%, #eeeeee, #cccccc, #969696 70%);
  background: radial-gradient(60% 60%, #eeeeee, #cccccc, #969696 70%);
  -webkit-box-shadow: inset 0 2px 4px 1px rgba(0, 0, 0, 0.1), 0 1px 0 white, inset 0 1px 0 white;
          box-shadow: inset 0 2px 4px 1px rgba(0, 0, 0, 0.1), 0 1px 0 white, inset 0 1px 0 white;
}

.switch input:checked ~ label:after, .switch:hover label:after {
  background: #00ffff;
  background: -webkit-radial-gradient(#00ffff, #00d1d1);
  background: -o-radial-gradient(#00ffff, #00d1d1);
  background: radial-gradient(#00ffff, #00d1d1);
  -webkit-box-shadow: inset 0 3px 5px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px 2px rgba(0, 255, 255, 0.3);
          box-shadow: inset 0 3px 5px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px 2px rgba(0, 255, 255, 0.3);
}

/* Icon / Social Buttons
   TUTORIAL http://azmind.com/2012/02/24/create-a-circle-social-button-in-css3/
*/
.sbuttons {
  padding: 3em;
  background: -webkit-repeating-linear-gradient(315deg, #fff 0.2em, #eee 0.3em, #fff 0.4em);
  background: -o-repeating-linear-gradient(315deg, #fff 0.2em, #eee 0.3em, #fff 0.4em);
  background: repeating-linear-gradient(135deg, #fff 0.2em, #eee 0.3em, #fff 0.4em);
  clear: both;
  text-align: center;
}

.sbuttons a {
  width: 4em;
  height: 4em;
  margin: .5em;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 4em;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
  background-image: -webkit-linear-gradient(#f6f6f6, #eaeaea);
  background-image: -o-linear-gradient(#f6f6f6, #eaeaea);
  background-image: linear-gradient(#f6f6f6, #eaeaea);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 0.4em rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 0.4em rgba(0, 0, 0, 0.05);
}

.sbuttons a i {
  font-size: 1.5em;
}

.sbuttons a i.fa-mobile {
  font-size: 1.9em;
}

.sbuttons a:active, .sbuttons a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
  background-image: -webkit-linear-gradient(#eaeaea, #f6f6f6);
  background-image: -o-linear-gradient(#eaeaea, #f6f6f6);
  background-image: linear-gradient(#eaeaea, #f6f6f6);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 0.4em rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 0.4em rgba(0, 0, 0, 0.1);
}

a, h3 {
  display: block;
  text-decoration: underline;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}
