html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none !important;
}

header {
  text-align: center;
  font-weight: 200;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 1rem;
}

small {
  font-size: .5rem;
}

main {
  width: 100%;
  max-width: 30em;
  margin: 1em auto;
}

.player {
  min-height: 6rem;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), #4a4a4a;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), #4a4a4a;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), #4a4a4a;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), #4a4a4a;
  /* base color */
  -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.8), 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.8), 0 10px 20px rgba(0, 0, 0, 0.4);
  /* bottom shadow */
  border-radius: 12rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 1.3rem;
}

.-dark-outer-shadow, .player-play-pause-btn, .player-prev-next-btn, .player-seek-bar {
  padding: 3px;
  /* outer dark depth */
  background: rgba(0, 0, 0, 0.5);
  /* bream of reflected light */
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.-dark-outer-shadow-no-brim-light, .player-volume {
  padding: 3px;
  /* outer dark depth */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.-light-round-btn, .player-play-btn, .player-seek-knob, .player-seek-knob:before, .player-volume-knob {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6))), #999;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), #999;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), #999;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), #999;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 -4px 15px rgba(0, 0, 0, 0.4), inset 0 -3px 7px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 -4px 15px rgba(0, 0, 0, 0.4), inset 0 -3px 7px rgba(255, 255, 255, 0.15);
  /* top light area */
}
.-light-round-btn:before, .player-play-btn:before, .player-seek-knob:before, .player-volume-knob:before {
  content: '';
  border-top-right-radius: 12rem;
  border-top-left-radius: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.05)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
}

.-light-round-knob:after, .player-volume-knob:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -2px 0 rgba(0, 0, 0, 0.3), 0 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -2px 0 rgba(0, 0, 0, 0.3), 0 15px 15px rgba(0, 0, 0, 0.3);
  /* knob bottom shadow */
}
.-light-round-knob:before, .player-volume-knob:before {
  content: '';
  border-top-right-radius: 12rem;
  border-top-left-radius: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.05)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  position: absolute;
  width: 80%;
  height: 40%;
  top: 10%;
  left: 10%;
}

.-light-prev-btn, .player-prev-btn {
  position: relative;
  border-radius: 12rem 0 0 12rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.25))), #999;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), #999;
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), #999;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), #999;
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5) inset, 1px -1px 0 rgba(0, 0, 0, 0.2) inset, 5px 1px 0 rgba(255, 255, 255, 0.3) inset, 4px 0 0 rgba(0, 0, 0, 0.8) inset;
          box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5) inset, 1px -1px 0 rgba(0, 0, 0, 0.2) inset, 5px 1px 0 rgba(255, 255, 255, 0.3) inset, 4px 0 0 rgba(0, 0, 0, 0.8) inset;
}
.-light-prev-btn:before, .player-prev-btn:before {
  content: '';
  border-top-left-radius: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.05)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
}

.-light-next-btn, .player-next-btn {
  position: relative;
  border-radius: 0 12rem 12rem 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0))), #999;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), #999;
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), #999;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), #999;
  -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5) inset, -1px -1px 0 rgba(0, 0, 0, 0.2) inset, -5px 1px 0 rgba(255, 255, 255, 0.3) inset, -4px 0 0 rgba(0, 0, 0, 0.8) inset;
          box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5) inset, -1px -1px 0 rgba(0, 0, 0, 0.2) inset, -5px 1px 0 rgba(255, 255, 255, 0.3) inset, -4px 0 0 rgba(0, 0, 0, 0.8) inset;
}
.-light-next-btn:before, .player-next-btn:before {
  content: '';
  border-top-right-radius: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.05)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
}

.-icon-btn, .icon-btn {
  color: rgba(255, 255, 255, 0.15);
  text-shadow: -1px -1px 0 black;
}

/* icon btn */
.icon-btn {
  font-size: 1.5em;
}

/* player */
.player:before {
  content: '';
  display: block;
  border-radius: 12rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* top black line */
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15), 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15), 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
  position: absolute;
  top: .4rem;
  bottom: .5rem;
  left: .4rem;
  right: .4rem;
}

/* btns */
.player > * {
  display: inline-block;
  margin: .3rem auto;
}

.player-btn {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  line-height: 3rem;
}

.player a {
  color: #000;
  text-decoration: none;
}

/* play pause btns */
.player-play-pause-btn {
  width: 3.3rem;
  height: 3.3rem;
  position: relative;
}

.player-play-btn {
  padding: 1px;
}

/* next prev btns */
.player-prev-next-btn .icon-btn {
  font-size: .8rem;
}

.player-prev-next-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 12rem;
  position: relative;
}

.player-prev-next-btn:before,
.player-prev-next-btn:after {
  content: '';
  width: 50%;
  height: 80%;
  position: absolute;
  display: block;
  top: 2px;
  border-radius: 12rem;
  background: #000;
  -webkit-box-shadow: 0 7px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 7px 6px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.player-prev-next-btn:before {
  left: 0;
  -webkit-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
       -o-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.player-prev-next-btn:after {
  right: 0;
  -webkit-transform: skewY(5deg);
      -ms-transform: skewY(5deg);
       -o-transform: skewY(5deg);
          transform: skewY(5deg);
}

.player-prev-btn {
  padding: .2rem .7rem;
  padding-right: 1rem;
  border-radius: 12rem 0 0 12rem;
  line-height: 1.4rem;
  z-index: 1;
}

.player-next-btn {
  padding: .2rem .7rem;
  padding-left: 1rem;
  border-radius: 0 12rem 12rem 0;
  line-height: 1.4rem;
  z-index: 1;
}

/* seek bar */
.player-seek-bar {
  position: relative;
  padding: 2px;
  min-width: 10rem;
  height: 1rem;
  border-radius: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.3)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: none;
          box-shadow: none;
}

.player-seek-fill {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0))), #009ddc;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), #009ddc;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), #009ddc;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), #009ddc;
  -webkit-background-size: 90px 100%;
          background-size: 90px 100%;
  width: 80%;
  display: block;
  min-height: 100%;
  border-radius: 12rem;
  -webkit-animation: gradientShift 1.6s infinite both linear;
       -o-animation: gradientShift 1.6s infinite both linear;
          animation: gradientShift 1.6s infinite both linear;
}

/* animation */
@-webkit-keyframes gradientShift {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 90px;
  }
}
@-o-keyframes gradientShift {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 90px;
  }
}
@keyframes gradientShift {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 90px;
  }
}
.player-seek-knob {
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  position: absolute;
  left: 70%;
  top: -2px;
}

.player-seek-knob:before {
  content: '';
}

/* player volume */
.player-volume {
  position: relative;
  width: 3.3rem;
  height: 3.3rem;
  margin: .4rem 1rem;
}

.player-volume-knob {
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  padding: 8px;
}

/* volume levels */
ul.player-volume-levels {
  list-style-type: none;
  color: #009ddc;
}

.player-volume-levels li {
  position: absolute;
  left: 25px;
  top: -16px;
  height: 43px;
  font-size: .5rem;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
       -o-transform-origin: bottom center;
          transform-origin: bottom center;
}

.player-volume-levels li:nth-child(1) {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.player-volume-levels li:nth-child(2) {
  -webkit-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
       -o-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.player-volume-levels li:nth-child(3) {
  -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
       -o-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.player-volume-levels li:nth-child(4) {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
       -o-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.player-volume-levels li:nth-child(5) {
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.player-volume-levels li:nth-child(6) {
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
       -o-transform: rotate(10deg);
          transform: rotate(10deg);
}

.player-volume-levels li:nth-child(7) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
}

.player-volume-levels li:nth-child(8) {
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
       -o-transform: rotate(50deg);
          transform: rotate(50deg);
}

.player-volume-levels li:nth-child(9) {
  -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
       -o-transform: rotate(70deg);
          transform: rotate(70deg);
}

.player-volume-levels li:nth-child(10) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* desktop to do */
@media (max-width: 475px) {
  .player {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    border-radius: 50%;
    width: 300px;
    margin: 0 auto;
  }

  .player:before {
    border-radius: 50%;
  }

  .player > * {
    margin: .8rem;
  }

  .player-volume-levels li {
    font-size: .4rem;
  }
}
