<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Backbone Do It</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

 <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header class="title">
        <h1>Backbone Do It</h1>
    </header>
    <main>
        <article class="app">
            <header>
                <h2 class="sr-only">Add To Do Item</h2>
                <label for="toggle-all" class="sr-only">Toggle All</label>
                <input type="checkbox" class="toggle-all" id="toggle-all">
                <label for="type-todo" class="sr-only">Type a to do item</label>
                <input type="text" class="new-item" placeholder="Type to do ..." id="type-todo" autofocus>
            </header>
            <main>
                <h3 class="sr-only">List of Items</h3>
                <ul class="list-items"></ul>
            </main>
            <footer class="statistics">
                <h3 class="sr-only">Statistics</h3>
            </footer>
        </article>
    </main>
<script type="text/template" id="item-tpl">
       <label for="completed" class="sr-only">Check as completed</label>
       <input type="checkbox" class="completed" id="completed" <%= completed ? 'checked' : '' %>>
       <span class='view-mode <%= completed ? "completed-state":"" %>'>
           <label for=""><%= title %></label>
           <button class="remove">Remove</button>
           </span>
       <input type="text" class="edit" value="<%= title %>">
</script>
<script type="text/template" id="stats-tpl">
       <span class="count-active"><%= active %> <%= active === 1 ? 'item':'items' %> remaining to do.</span>
       <ul class="filters">
           <li>
               <a href="#/" class="displayAll" role="button">All</a>
               <a href="#/active" role="button">Active</a>
               <a href="#/completed" role="button">Completed</a>
           </li>
       </ul>
       <% if (completed) { %>
       <button class="clear-completed-items">Clear Completed</button>
       <% } %>
</script>
<body>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
